In [25]:
A = 100
B = 100.123
C = 'Shounak'
D='Forever'

# String

In [26]:
D.capitalize()

'Forever'

In [27]:
D.lower()

'forever'

In [28]:
D.casefold()

'forever'

In [105]:
D.center(1)

'Forever'

In [106]:
D.count('e')

2

In [107]:
D.encode()

b'Forever'

In [32]:
C.encode()

b'Shounak'

In [33]:
D.endswith('r')

True

In [34]:
C.endswith('k')

True

In [35]:
C.endswith('S')

False

In [36]:
C.expandtabs(3)

'Shounak'

In [37]:
D.isupper()

False

In [38]:
D.casefold().islower()

True

# Lists

In [39]:
LIST=[A,B,C,D,[C,D]]

In [40]:
LIST[4][0]

'Shounak'

In [41]:
LIST=[A,B,C,D,[C,D]]
LIST.append(A)
print (LIST)

[100, 100.123, 'Shounak', 'Forever', ['Shounak', 'Forever'], 100]

In [42]:
LIST.copy()
print(LIST)

[100, 100.123, 'Shounak', 'Forever', ['Shounak', 'Forever'], 100]

In [43]:
LIST.count(D)

1

In [44]:
LIST.count(A)

2

In [45]:
print(LIST)

[100, 100.123, 'Shounak', 'Forever', ['Shounak', 'Forever'], 100]

In [50]:
LIST.remove(100)

In [51]:
LIST.remove('Forever')

In [52]:
print(LIST)

[100.123, 'Shounak', ['Shounak', 'Forever'], 100]

In [ ]:
LIST.reverse()

In [62]:
LIST.reverse
LIST

[100.123, 'Shounak', ['Shounak', 'Forever'], 100]

# Dictionary

In [64]:
R={'AA':"Man Utd",'AB':'Arsenal','AC':'Milan','AD':'Juventus'}

In [65]:
type(R)

dict

In [66]:
print(R)

{'AA': 'Man Utd', 'AB': 'Arsenal', 'AC': 'Milan', 'AD': 'Juventus'}

In [67]:
R['AA']

'Man Utd'

In [68]:
R.items()

dict_items([('AA', 'Man Utd'), ('AB', 'Arsenal'), ('AC', 'Milan'), ('AD', 'Juventus')])

In [69]:
R.keys()

dict_keys(['AA', 'AB', 'AC', 'AD'])

In [70]:
R.fromkeys('Man Utd')

{'M': None, 'a': None, 'n': None, ' ': None, 'U': None, 't': None, 'd': None}

In [71]:
R.items
print(R)

{'AA': 'Man Utd', 'AB': 'Arsenal', 'AC': 'Milan', 'AD': 'Juventus'}

In [72]:
R.items

In [73]:
R.popitem()

('AD', 'Juventus')

In [74]:
print(R)

{'AA': 'Man Utd', 'AB': 'Arsenal', 'AC': 'Milan'}

In [75]:
A.conjugate()

100

In [76]:
A.conjugate()

100

In [77]:
(6).conjugate()

6

In [78]:
B.as_integer_ratio()

(7045529773300253, 70368744177664)

In [79]:
(1.5).as_integer_ratio()

(3, 2)

In [80]:
(1.5).is_integer()

False

# Sets

In [81]:
S={1,2,3,4,4,1,2,6,7,8,9,1,2,3,4,7,6,}

In [82]:
type(S)

set

In [83]:
S.add(12)
print(S)

{1, 2, 3, 4, 6, 7, 8, 9, 12}

In [84]:
S.difference()

{1, 2, 3, 4, 6, 7, 8, 9, 12}

In [85]:
S.discard(8)
print(S)

{1, 2, 3, 4, 6, 7, 9, 12}

In [86]:
T={1,2,3,4,5,6,7,8,9,0}

In [87]:
S.difference(T)

{12}

In [88]:
S.difference_update(T)
print(S)

{12}

In [89]:
S.intersection(T)
print(S)

{12}

In [90]:
S.intersection_update(T)
print(S)

set()

In [91]:
S.union(T)
print(S)

set()

In [92]:
print(S)

set()

In [93]:
S.update(T)
print(S)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [94]:
Q={0,1,4,7}

In [95]:
Q.issubset(S)

True

In [96]:
S.issuperset(Q)

True

# Tuple

In [97]:
K=(12,3,6,4,7,'R')

In [98]:
type(K)

tuple

In [99]:
K.count(3)

1

In [100]:
K.count('R')

1

In [101]:
K.index(3)
print(K)

(12, 3, 6, 4, 7, 'R')

In [102]:
K.index(12)

0